body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.highlight{
    color:rgb(23, 158, 113)
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

.half-width img {
    width: 80%;
}


.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}

.button{
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-image: linear-gradient( 45deg, rgb(228, 166, 52), tomato);
}

.bg{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}

section{
    height: 500px;
}